.datatunerx-form-block {
  display: inline-block;
  padding: 20px 40px 0 20px;
  border: 1px dashed var(--dao-gray-blue-050);
  border-radius: 10px;

  &__item {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
    background: var(--dao-gray-blue-110);
    border: 1px solid var(--dao-gray-blue-050);
    border-radius: 10px;
  }

  &__item + &__item {
    margin-top: 20px;
  }

  &__remove-btn {
    position: absolute;
    top: 50%;
    right: -30px;
    padding: 2px;
    font-size: 18px;
    color: var(--dao-gray-blue-040);
    cursor: pointer;
    transform: translateY(-50%);
  }

  &__add-btn {
    display: inline-block;
    margin: 10px 0;

    .dao-icon {
      margin-right: 5px;
    }
  }
}

.form-item--block {
  display: inline-flex;
  padding: 15px 30px 15px 0;
  background: var(--dao-gray-blue-110);
  border: 1px solid var(--dao-gray-blue-050);
  border-radius: 8px;
}

.form-label {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: var(--dao-gray-010);
}

.form-item__card {
  padding: 20px 20px 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
