.console-main-container {
  flex: auto;
  // flex: 1 1 0px;
  padding: 0 30px 30px;
  overflow: auto;

  .dao-header.dao-header--3rd {
    margin-bottom: 10px;
  }

  .dao-toolbar-container {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  }
}

.dao-card-header-title {
  overflow: hidden;
}

.dao-breadcrumb__label {
  word-break: break-all;
}
